* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Mono', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200 & display=swap');


h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family:'Noto Sans Mono', monospace;
   
}

body {
    background: #275950;
    color: #260101 ;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#msg1 {
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-color: #260101;
    background-color: #9BF2EA;
    font-family: 'Montserrat';
}

.radioType {
    display: inline;
    margin-top: 30px;
    margin-bottom: 10px;
    
    
}

#msg2 {
    margin-top: 30px;
    border-radius: 15px;
    border-color: #260101;
    background-color: #9BF2EA;
}

label {
    font-size: 20px;
}


.footer {
    position: absolute;
    display: table;
    left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    background: #260101;
    color: #275950;
}
